@font-face {
  font-family: 'OstrichSans';
  src: url('/assets/fonts/OstrichSans-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('/assets/fonts/GillSans.ttc') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('/assets/fonts/GillSans.ttc') format('truetype');
  font-weight: 400;
  font-style: normal;
}
